[submodule "src/python-telegram-bot"]
	path = src/python-telegram-bot
	url = git@github.com:python-telegram-bot/python-telegram-bot.git
[submodule "python-telegram-bot"]
	path = python-telegram-bot
	url = git@github.com:python-telegram-bot/python-telegram-bot.git
[submodule "python-markdownify"]
	path = python-markdownify
	url = git@github.com:matthewwithanm/python-markdownify.git
